<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2018 - 2019 Galleon.exchange. All rights reserved</p>
      </div>
      <div class="col-md-6 text-right">
        <a target="_blank" class="foot-link" href="https://support.galleon.exchange/hc/en-us/articles/360015406214-Term-of-Services">Term of Use</a>
        <a target="_blank" class="foot-link" href="https://support.galleon.exchange/hc/en-us/articles/360015476393-Privacy-Policy">Privacy Policy</a>
        <a target="_blank" class="foot-link" href="https://support.galleon.exchange/hc/en-us/articles/360015406254-Disclaimers">Disclaimers</a>
        <span class="support-24">Customer Support:</span>
        <a target="_blank" href="https://twitter.com/GalleonEx" class="sns-twitter">Twitter</a>
        <a target="_blank" href="https://www.facebook.com/GalleonEx" class="sns-facebook">Facebook</a>
        <a target="_blank" href="https://t.me/galleonexchange" class="sns-telegram">Telegram</a>
      </div>
    </div>
  </div>
</footer>
