<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2018 - 2019 Galleon.exchange. All rights reserved</p>
      </div>
      <div class="col-md-6 text-right">
        <span class="support-24">Customer Support:</span>
        <a href="#" class="sns-twitter">Twitter</a>
        <a href="#" class="sns-facebook">Facebook</a>
        <a href="#" class="sns-telegram">Telegram</a>
      </div>
    </div>
  </div>
</footer>