<!--<a class="menu-orders" href="/history/orders"><%#= t('header.history')%></a>-->
<!--<a class="menu-funds" href="/funds"><%#= t('header.funds')%></a>-->
<a class="menu-account" href="<%= ENV['BARONG_DOMAIN']%>"><%= current_user.email %></a>
<a class="menu-logout" href="<%= main_app.signout_path %>"><%= t('header.signout') %></a>