.home-index header{
  background-color:rgba(0, 0, 0, 0.16);
}
.home-index footer{
  background-color:rgba(0, 0, 0, 0.2);
}
.login-container,
.register-container{
  width:400px;
  margin:0 auto;
  background-color:#FFF;
  border-radius: 4px;
}
.login-button,
.mask-form-button{
  padding-top:40px;
}
.mask-form-button .row{padding-top:6px;}
.email-activation{
  text-align:center;
  line-height:2;
}
.email-activation .btn{margin:20px 0;}
.find-password,
.reset-password{
  padding-top:30px;
}
.find-password-sent{
  padding:40px 0;
  text-align:center;
  line-height:2;
}
/* profile */
.overview-index{
  padding:20px 0;
}
.overview-index .warning{
  display: inline-block;
  padding:1px 10px 1px 25px;
  background-color:#e0e0e0;
  color:#707277;
  font-size:12px;
  border-radius:5em;
  background-image: url(asset_path('profile/warning.png'));
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: auto 70%;
}
.overview-index .text-center{
  position:relative;
  padding-bottom:20px;
}
.overview-index .text-center:after{
  position: absolute;
  content: "";
  display: block;
  top:0;
  bottom:0;
  right:0;
  border-right:solid 1px #dbdbdb;
}
.overview-info{
  padding:30px;
  border-top:solid 1px #092031;
}
.overview-info .row{
  margin-top:15px;
  margin-bottom:15px;
}
.overview-info .row > :first-child{
  font-weight:700;
}
.overview-info a{
  color:#2e96f0;
  text-decoration: underline;
}
.verifi-step:before,.verifi-step:after{
  display:table;
  content:"";
}
.verifi-step:after{
  clear:both;
}
.verifi-step{
  margin:0;
  padding:0;
}
.verifi-step li{
  list-style:none;
  position:relative;
  float:left;
  width:33.333%;
  text-align:center;
  overflow:hidden;
}
.verifi-step li span{
  display:block;
  color:#939393;
  font-size:16px;
  padding-top:15px;
  padding-bottom:20px;
}
.verifi-step li i{
  display:block;
  margin:0 auto;
  width:16px;
  height:16px;
  border-style:solid;
  border-width:2px;
  border-color:#dbdbdb;
  background-color:#dbdbdb;
  border-radius: 50%;
}
.verifi-step li i:before,
.verifi-step li i:after{
  position:absolute;
  content:"";
  display:block;
  height:0;
  width:100%;
  border-style:solid;
  border-color:#dbdbdb;
  border-width:1px 0 0;
  bottom:7px;
}
.verifi-step li i:before{left:-50%;margin-left:-8px;}
.verifi-step li i:after{left:50%;margin-left:8px;}
.verifi-step li:first-child i:before{display:none;}
.verifi-step li:last-child i:after{display:none;}
.verifi-step.step1 li:nth-child(1) i{
  border-color:#2e96f0;
  background-color:#FFF;
}
.verifi-step.step1 li:nth-child(1) span{
  color:#6f6f69;
}
.verifi-step.step2 li:nth-child(1) i,
.verifi-step.step3 li:nth-child(1) i,
.verifi-step.step3 li:nth-child(2) i{
  border-color:#2e96f0;
  background-color:#2e96f0;
}
.verifi-step.step2 li:nth-child(1) i:after,
.verifi-step.step2 li:nth-child(2) i:before,
.verifi-step.step3 li:nth-child(1) i:after,
.verifi-step.step3 li:nth-child(2) i:after,
.verifi-step.step3 li:nth-child(2) i:before,
.verifi-step.step3 li:nth-child(3) i:before{
  border-color:#2e96f0;
}
.verifi-step.step2 li:nth-child(1) span,
.verifi-step.step3 li:nth-child(1) span,
.verifi-step.step3 li:nth-child(2) span{
  color:#2e96f0;
}
.verifi-step.step2 li:nth-child(2) i,
.verifi-step.step3 li:nth-child(3) i{
  border-color:#2e96f0;
  background-color:#FFF;
}
.verifi-step.step2 li:nth-child(2) span,
.verifi-step.step3 li:nth-child(3) span{
  color:#6f6f69;
}
/* profile-security */
.profile-security{
  padding:30px 0;
}
.profile-security > a{
  position:relative;
  display:table;
  margin:30px auto;
  padding-left:140px;
  width:420px;
  height:100px;
  border-style:solid;
  border-width:1px 1px 1px 7px;
  border-color:#eeeeee;
  color:#6f6f69;
  text-decoration: none;
  background-color:#f6f6f6;
  background-repeat: no-repeat;
  background-position: 30px 50%;
  background-size: auto 50%;
}
.profile-security > a:after{
  position:absolute;
  right:30px;
  top:50%;
  margin-top:-10px;
  content:"";
  display:block;
  width:16px;
  height:16px;
  border-style: solid;
  border-color:#2e96f0;
  border-width:1px 1px 0 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.profile-security > a.profile-security-password{
  border-left-color:#2e96f0;
  background-image: url(asset_path('profile/password.png'));
}
.profile-security > a.profile-security-google{
  border-left-color:#ef6351;
  background-image: url(asset_path('profile/google.png'));
}
.profile-security > a > div{
  display:table-cell;
  vertical-align: middle;
}
.profile-security > a > div strong{
  display:block;
  font-weight:200;
  font-size:18px;
}
.profile-security > a.profile-security-password:hover > div strong{
  color:#2e96f0;
}
.profile-security > a.profile-security-google:hover > div strong{
  color:#ef6351;
}
.profile-security-head{
  display:inline-block;
  width:100%;
  border-bottom:solid 1px #092031;
}
.profile-security-head h4{
  padding-left:20px;
}
a.secret-link{
  display:inline-block;
  padding-right:22px;
  color:#469ef1;
  text-decoration: underline;
  background-image: url(asset_path('profile/secret-link.png'));
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
.profile-security-googleAuth{
  text-align:center;
  padding:20px 0;
}
.profile-security-googleAuth .col-md-3{
  position:relative;
  overflow:hidden;
}
.profile-security-googleAuth h5{
  color:#469ef1;
}
.profile-security-googleAuth .step{
  display:block;
  margin:0 auto 20px;
  width:24px;
  height:24px;
  line-height:24px;
  border-style: solid;
  border-width:1px;
  border-color:#469ef1;
  border-radius: 50%;
  color:#469ef1;
}
.profile-security-googleAuth .step:before,
.profile-security-googleAuth .step:after{
  position:absolute;
  top:47px;
  content:"";
  display:block;
  width:100%;
  height:0;
  border-style: solid;
  border-width:1px 0 0;
  border-color:#469ef1;
}
.profile-security-googleAuth .step:before{left:50%;margin-left:12px;}
.profile-security-googleAuth .step:after{left:-50%;margin-left:-12px;}
.profile-security-googleAuth .col-md-3:first-child .step:after{display:none;}
.profile-security-googleAuth .col-md-3:last-child .step:before{display:none;}
.profile-security-googleAuth .qrcode{width:100px;}
.profile-security-googleAuth .appstore-ios,
.profile-security-googleAuth .appstore-google{
  display:block;
  margin:20px auto;
  width:103px;
  height:30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
}
.profile-security-googleAuth .appstore-ios{background-image: url(asset_path('profile/appstore-ios.png'));}
.profile-security-googleAuth .appstore-google{background-image: url(asset_path('profile/appstore-google.png'));}
.profile-security-google-unbind{
  text-align: center;
  padding:40px 0;
}
.profile-security-google-unbind .description{
  padding:30px 0;
}
.profile-security-google-unbind .google-unbind{
  width:250px;
  margin:0 auto;
}
.profile-security-google-unbind .google-unbind .form-group{
  text-align:left;
}
.profile-security-google-unbind .google-unbind-btn{
  padding-top:30px;
}
.profile-security-google-unbind .dialog-google-2fa{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:998;
  display:table;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.4);
}
.profile-security-google-unbind .dialog-google-2fa .dialog-cell{
  display: table-cell;
  vertical-align: middle;
}
.profile-security-google-unbind .dialog-google-2fa .dialog-content{
  width:300px;
  margin:0 auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.profile-security-google-unbind .dialog-google-2fa .dialog-head{
  position:relative;
  padding:8px 0;
  color:#FFF;
  background-color:#2e96f0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.profile-security-google-unbind .dialog-google-2fa .dialog-head .dialog-close{
  position:absolute;
  top:10px;
  right:10px;
  display:block;
  width:14px;
  height:14px;
}
.profile-security-google-unbind .dialog-google-2fa .dialog-head .dialog-close:before,
.profile-security-google-unbind .dialog-google-2fa .dialog-head .dialog-close:after{
  position:absolute;
  top:50%;
  content:"";
  display:block;
  width:14px;
  height:0;
  border-top:solid 1px #FFF;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}
.profile-security-google-unbind .dialog-google-2fa .dialog-head .dialog-close:before{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.profile-security-google-unbind .dialog-google-2fa .dialog-head .dialog-close:after{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.profile-security-google-unbind .dialog-google-2fa .dialog-body{
  text-align:left;
  padding:30px;
  background-color:#FFF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* profile-kyc */
.profile-kyc-form-wrap{
  padding:40px 0;
  width:600px;
  margin:0 auto;
}
.profile-kyc-form-btn{
  padding-top:30px;
}
.profile-kyc-form-wrap .file-upload-drag{
  height:180px;
  padding-top:120px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  background-color: #fafafa;
  background-image: url(asset_path('profile/upload-drag.png'));
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.profile-kyc-form-wrap .file-upload-drag p{
  font-size:12px;
  color:#a9a9a9;
  text-align: center;
}
.profile-kyc-tabs ul,
.profile-kyc-tabs ul>li{
  margin:0;
  padding:0;
  list-style: none;
}
.profile-kyc-tabs ul>li{
  float:left;
  width:50%;
  text-align: center;
  border-style: solid;
  border-width:0 0 1px;
  border-color:#092031;
}
.profile-kyc-tabs ul>li>a{
  display:block;
  height:40px;
  line-height:40px;
  color:#2e96f0;
  text-decoration:none;
}
.profile-kyc-tabs ul>li>a:hover{
  background-color:#eee;
}
.profile-kyc-tabs ul>li.active{
  border-color:#2e96f0;
}
.profile-kyc-tabs ul>li.active>a{
  color:#FFF;
  background-color:#2e96f0;
}
.profile-kyc-tabContent .profile-insitutional{
  text-align: center;
  padding:50px 0;
}
.profile-kyc-link{
  padding:30px 0;
}
.profile-kyc-link a{
  position: relative;
  display: table;
  margin: 30px auto;
  padding-left: 140px;
  width: 420px;
  height: 100px;
  border-style: solid;
  border-width: 1px 1px 1px 7px;
  border-color: #e0e0e0;
  color: #6f6f69;
  text-decoration: none;
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-position: 30px 50%;
  background-size: auto 50%;
}
.profile-kyc-link > a:after{
  position:absolute;
  right:30px;
  top:50%;
  margin-top:-10px;
  content:"";
  display:block;
  width:16px;
  height:16px;
  border-style: solid;
  border-color:#2e96f0;
  border-width:1px 1px 0 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.profile-kyc-link > a.profile-kyc-link-pro{
  background-image: url(asset_path('profile/profile.png'));
}
.profile-kyc-link > a.profile-kyc-link-doc{
  background-image: url(asset_path('profile/document.png'));
}
.profile-kyc-link a > div{
  display: table-cell;
  vertical-align: middle;
}
.profile-kyc-link a > div strong{
  display: block;
  font-weight: 200;
  font-size: 18px;
}
.profile-kyc-link a:hover > div strong{color:#2e96f0;}
.profile-kyc-link p{
  text-align: center;
}